body{font-family:Arial;margin:0;padding:0;background:#f6f6f6;}
header{text-align:center;background:#003b63;color:#fff;padding:20px;}
section{background:#fff;margin:15px;padding:15px;border-radius:8px;}
h2{color:#003b63;}
button{padding:10px 15px;background:#003b63;color:#fff;border:none;border-radius:6px;margin-top:10px;}
input,select{width:100%;padding:8px;margin-top:5px;}
